body{
	text-align : center;
	background-image : url('bg.jpg');
	background-repeat : no-repeat;
	background-size : cover;
	background-attachment : fixed;
	
	
}
h1{
	background-color : black;
	color : red;
	width :20%;
	margin : 20px auto;	
	border-radius : 10px;
	padding : 2px;
	border-style : solid;
	 border-color : green;
}

.content{
	
	color : aqua;
	width : 30%;
	font-size : 24px;
}