body{
	text-align : center;
	background-image : url('bg.jpg');
	background-repeat : no-repeat;
	background-size : cover;
	background-attachment : fixed;
	
	
}
h1{
	background-color : black;
	color : red;
	width :20%;
	text-align : center;	
	border-radius : 10px;
	padding : 3px;
	border-style : solid;
	 border-color : white;
	
}
h3{
	color : red;
}
.content{
	margin-top : 3%;
	color : white;
	width : 30%;
	font-size : 24px;
	border-radius : 10px;
	border-style : solid;
	 border-color : white;
	
}
.right{
	color : white;
	width : 30%;
	font-size : 24px;
	margin-left : 69.5%;
	border-radius : 10px;
	border-style : solid;
	 border-color : white;
}
footer{
	text-align : center;
	color : black;
	font-size : 20px;
	margin-top : 1.1%;
	width : 30%;
	border-radius : 10px;
	margin-left : 35%;
	backdrop-filter : blur(5px);
	border-style : solid;
	 border-color : red;
	
}
